body {
	background-image: url("images/fondo.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: conver;
	background-size: cover;
	text-align: center;
}
